{{# is_package }}
	{{# has_package_d }}
		$({{ tag_pkgd }} {{ name }},
			{{# children }}{
				"file": "_module_info",
				"map": {
					"tag_pkg":"{{tag_pkg}}",
					"tag_pkgd":"{{tag_pkgd}}",
					"tag_mod":"{{tag_mod}}"
				}
			}{{/ children }},
			{{ page_url }}, {{ dub_package_name }}, {{ package_name }}, {{ module_name }}, {{ full_module_name }}, {{ source_path }}, {{ module_title }}
		)
	{{/ has_package_d }}
	{{^ has_package_d }}
		$({{ tag_pkg }} {{ name }},
			{{# children }}{
				"file": "_module_info",
				"map": {
					"tag_pkg":"{{tag_pkg}}",
					"tag_pkgd":"{{tag_pkgd}}",
					"tag_mod":"{{tag_mod}}"
				}
			}{{/ children }}
		)
	{{/ has_package_d }}

{{/ is_package }}
{{# is_module }}
	$({{ tag_mod }} {{ name }}, {{ page_url }}, {{ dub_package_name }}, {{ package_name }}, {{ module_name }}, {{ full_module_name }}, {{ source_path }}, {{ module_title }})
{{/ is_module }}
