MODULE_INDEX={{# dub_pkg_info }}
$(INDEX_DUBPKG {{ name }}, {{ version }},
	{{# children }}{
		"file": "_module_info",
		"map": {
			"tag_pkg":"INDEX_PKG",
			"tag_mod":"INDEX_MOD"
		}
	}{{/ children }}
)
{{/ dub_pkg_info }}
